#
# Board configuration for BlueField SoC.
#

source [find interface/dummy.cfg]
source [find target/bluefield.cfg]

# Halt the cores when gdb attaches
${_TARGETNAME}0 configure -event gdb-attach "halt"

# Make sure the default target is the boot core
targets ${_TARGETNAME}0

proc core_up { args } {
	global _TARGETNAME

	# Examine remaining cores
	foreach _core [set args] {
		${_TARGETNAME}$_core arp_examine
	}
}
