# Radiona ULX3S
# https://radiona.org/ulx3s/
# Currently there are following board variants:
# CS-ULX3S-01 - LFE5U 12F
# CS-ULX3S-02 - LFE5U 45F
# CS-ULX3S-03 - LFE5U 85F
#
# two JTAG interfaces:
# - US1, micro USB port connected to FT231XQ
# - J4, 6 pin connector
# Both of this interfaces share the JTAG lines (TDI, TMS, TCK, TDO) between
# Lattice ECP5 FPGA chip and ESP32 WiFi controller.
# Note: TRST_N of the ESP32 is pulled up by default and can be pulled down over
# J3 interface.

source [find target/lattice_ecp5.cfg]
